@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden !important;
    background: #000;
}
.header{
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header nav a{
    color: white;
    font-size: 1.6rem;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}
#home{
    background: #000;
}
#home img{
    position: relative; 
    width: 100%;
    height: 730px;
    opacity: 0.7;
}
#home h1{
    position: absolute;
    color: #fff;
    padding-top: 150px;
    z-index: 2;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: 'Goldman', sans-serif;
}

#sobre{
    background: #000;
    display: flex;
    top: 100px;
    font-family: 'Inter', sans-serif;
}
#sobre img{
    position: relative;
    border-radius: 75px;
    left: -5%;
    width: 600px;
    margin-top: 120px;
    margin-bottom: 120px;
}
#texto-sobre{
    color: #fff;
    position: absolute;
    left: 45%;
    right: 15%;
    margin-top: 250px;
    font-size: 1.3rem;
    border-bottom: 2px, solid #fff;
}
#texto-sobre h2{
    text-decoration: underline #fff;
}
#texto-sobre h3{
    margin-top: 25px;
}
#aplicacao{
    background: #000;
    display: flex;
    top: 100px;
}
#aplicacao img{
    position: relative;
    border-radius: 75px;
    left: 65%;
    width: 625px;
    margin-top: 125px;
    margin-bottom: 125px;
}
#texto-aplicacao{
    color: #fff;
    position: absolute;
    left: 15%;
    right: 45%;
    margin-top: 160px;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
}
#texto-aplicacao h3{
    margin-top: 25px;
}
#texto-aplicacao h2{
    text-decoration: underline #fff;
}
p{
    color: #fff;
    font-family: 'Inter', sans-serif;
    background: #000;
    text-align: center;
    margin-bottom: 20px;
}